@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

/* cascade */

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #101828; /* Gray 900 */
  font: 500 100%/1 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* faker */

body {
  overflow-x: hidden;
  padding: 2rem;
}

pre {
  line-height: 1.5;
  max-width: calc(100vw - 4rem);
  white-space: pre-wrap;
}
