@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

/* cascade */

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #101828; /* Gray 900 */
  font: 500 100%/1 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0;
}

/* app */

#navvy {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}
#ia {
  width: 25rem;
}

#app,
#middle,
#main,
#body {
  display: flex;
}
#header,
#footer,
#north,
#south {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav,
#middle,
#main,
#scroll {
  overflow: auto;
}
.fill,
#middle,
#main,
#body {
  flex: 1;
}

#app,
#main {
  flex-direction: column;
}

#app {
  border-radius: 12px;
  box-shadow: 10px 20px 60px #0133;
  font-size: 14px;
  flex: 1;
  height: calc(100vh - 4rem);
  padding: 0;
}

footer {
  padding: 4rem;
  text-align: center;
}

/* colors */

#main {
  background: #eee;
}

/* components */

.swiss-army-box {
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 6px;
  line-height: 1rem;
  padding: 12px;
}
.swiss-army-box:hover {
  background: #eee;
}
.box-icon {
  text-align: center;
  width: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
