@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

/* cascade */

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #101828; /* Gray 900 */
  font: 500 100%/1 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* week year */

body {
  max-width: 54rem;
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
  margin: 3rem 0 1.5rem;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
  line-height: 1.1;
}

p {
  line-height: 1.4;
}

a {
  color: #0bc;
}

/* metrics */

#metrics {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.metric {
  border-radius: 12px;
  border: 1px solid #eaecf0; /* Gray 200 */
  box-shadow: 0 1px 2px #10182811;
  display: flex;
  flex-direction: column;
  flex: 1 0 15rem;
  padding: 1.5rem;
  gap: 8px;
}
.metric-icon {
  align-items: center;
  background: #eaecf0;
  border-radius: 1.5rem;
  display: flex;
  font-size: 20px;
  height: 3rem;
  justify-content: center;
  margin: 0 0 1rem;
  width: 3rem;
}
.metric-name {
  color: #475467; /* Gray 600 */
  font-size: 14px;
  line-height: 20px;
}
.metric-value {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.03em;
}

/* weeks */

#weeks {
  background: #eaecf0;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.week {
  background: #fff;
  display: flex;
  flex-direction: column;
  flex: 1 0 8rem;
  gap: 1rem;
  padding: 1rem;
}
.week-id {
  font-size: 20px;
  letter-spacing: -0.03em;
}

.past {
  color: #98a2b3; /* Gray 400 */
}
.past b {
  font-size: 400;
}
.present {
  background: #0bc;
  color: #fff;
  outline: #0bc 1px solid;
}
.present b {
  font-size: 2rem;
}
.quarter {
  background: unset;
}
